<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688211195026-7t5ta3f0b2k4rm209kfabe0ogpbollbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688211195026-7t5ta3f0b2k4rm209kfabe0ogpbollbu</string>
	<key>API_KEY</key>
	<string>AIzaSyAMLY6TivgAzKzZxnq-ixZOtbA8CPr23ro</string>
	<key>GCM_SENDER_ID</key>
	<string>688211195026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmediaapp</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688211195026:ios:608435ee1045f0cb69e24b</string>
</dict>
</plist>